* {
  margin: 0;
  padding: 0;
}
h2 {
  color: red;
}
h3 {
  color: blue;
  /* font-weight: bolder; */
  /* font-size: 1.5em; */
  /* font-family: Arial, sans-serif; */
  font-style: italic;
  /* text-decoration: underline; */
  /* text-decoration: line-through; */
  /* font-size: larger; */
  font-size: 72px;
  /* background-color: yellow; */
}
#container {
  /* background-color: rgb(red, green, blue);
  height: 500px; */
  background-color: rgb(143, 176, 141);
  /* height: 280px; */
  height: 600px;
  padding: 300px 300px;
  text-align: center;
  width: 600px;
  /* align-items: center; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: 100px auto; */
  margin: auto;
  /* justify-content: center; */
}
